.movie__details {
    max-width: 300px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.movie__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.movie__flex
.movie__detail {
    width: 33.33%;
}

.movie__detail-overview {
    width: 100%;
}

.movie__title {
    font-size: 24px;
    color: #253b49;
    margin-bottom: 10px;
    font-weight: bold;
}

.movie__detail {
    font-size: 14px;
    color: #5A7E96;
    margin-bottom: 10px;
}

.movie__detail:last-child {
    margin-bottom: 0;
}

.movie__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.movie__details-background {
    background-color: #9FC7E2;
    padding: 20px;
    height: 100vh;
}