.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #253B49;
    padding: 16px;
}

.navbar__logo img {
    width: 120px;
    height: auto;
}

.navbar__links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 24px;
}

.navbar__auth-buttons {
    display: flex;
    gap: 16px;
}